

.filtermenu {
    width: 100%;
  }
  .filtermenu li {
    padding: 20px 40px;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.5s;
    transition: color 0.5s;
  }

  .filtermenu li:hover {
    color: var(--light1);
    /* margin: 8px; */
  }
  .filtermenu li.active {
    background: var(--dark2);
    color: var(--light1);
    /* margin: 8px; */
  }


  ul {
    margin-left: -38px;
  }
  