
<footer>
    <!-- <a href="../index.html"><img src="../assets/general/logo.png" alt="Indie Hackers logo"></a>

    <div>
        <p>Products</p>
        <div>
            <a href="../tools.html">Tools</a>
            <a href="../newspaper-archive.html">The Indie Times</a>
        </div>
    </div>

    <div>
        <p>Advertise with us</p>
        <div>
            <a href="../tools.html">LIST YOUR TOOL</a>
            <a href="../newspaper-archive.html">PROMOTE YOUR TOOL</a>
        </div>
    </div> -->
    <img src="../assets/general/logo.png" alt="Indie Hackers logo">
</footer>